<section class="callout">
  <h2 class="callout__heading">Get early access today</h2>
  <p class="callout__text">
    It only takes a minute to sign up and our free starter tier is extremely
    generous. If you have any questions, our support team would be happy to help
    you.
  </p>
  <input
    type="email"
    placeholder="email@example.com"
    name=""
    id=""
    class="hero__input__email callout__input"
  />
  <input
    type="submit"
    value="Get Started For Free"
    class="hero__input__submit callout__submit"
  />
</section>
