<section class="hero">
  <header class="hero__header">
    <img src="images/illustration-1.svg" alt="" class="hero__image" />
  </header>
  <div class="hero__main">
    <h1 class="hero__title">
      All your files in one secure location, accessible anywhere.
    </h1>
    <p class="hero__text">
      Fylo stores your most important files in one secure location. Access them
      whereever you need, share and collaborate with friends, family, and
      co-workers.
    </p>
    <input
      type="email"
      placeholder="Enter your email..."
      name=""
      id=""
      class="hero__input__email"
    />
    <input type="submit" value="Get Started" class="hero__input__submit" />
  </div>
</section>
